<!-- extiende del archivo base-->
{% extends 'base.html' %}


{% block titulo %} Lista de Seguimientos 311 {% endblock %}

{% block contenido %} 
  
  <div class="card">
    <div class="card-header">

        <a name="" id="" class="btn btn-success" href="{% url 'crearSeguimiento' %}" role="button">Agregar Seguimiento 311</a>
        
    </div>
    <div class="card-body">
        <h4 class="card-title">SEGUIMIENTO</h4>
        
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID Usuario</th>
                        <th>ID Solicitud</th>
                        <th>Fecha Seguimiento</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>

                    {% for seguimiento in seguimientos %}
                    <tr>
                        <th>{{ seguimiento.id }}</th>
                        <th>{{ seguimiento.idUsuario }}</th>
                        <th>{{ seguimiento.idSolicitud }}</th>
                        <th>{{ seguimiento.fechaSeguimiento }}</th>
                        <th>{{ seguimiento.descripcionSeguimiento }}</th>
                        <th>   
                            <a name="" id="" class="btn btn-info" href="{% url 'editarSeguimiento' seguimiento.id %}"             
                              role="button">Editar</a> 
                            /
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminarSeguimiento' seguimiento.id %}"
                              role="button">Borrar</a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    
  </div>

{% endblock %}