<html>
<head>
    <meta charset="UTF-8">
    <title>Inicio de Seccion Reporte 3-1-1</title>
</head>
<body>
<div class="container-from">
  <h3 class="txt-gris_medio">Acceder>/h3>
  <hr>
  <div class="loguin-container">
    {% if from.errors %}
      <div class="alert alert-danger"><p>tu usuario y/o contraseña no conciden. Por favor intetalo otra vez.</p>
      </div>
    {% endif%}
    <form id="from-loguin" method="post" action="">
      {% csrf_token %}
        
      <div class="w450"> id="username">
        {{ form.username}}
      </div>
      
      <div class="w450"> id="password">
        {{ form.password}}
      </div>
      
       <button id="btn-registrar" class=>Iniciar Sección</button>
     </form>

     

  </div>  

</div>
   <p> Inicio de Seccion requerido </p>
   <form method="psst">
     {% csrf_token %}
      <label for="usuario">
        usuario
        <input type="text" name"username">
      </label>
      <label for="pass">
        contraseña
        <input type="password" name"password">
      </label>
      <button type="submit">Iniciar Sección</button>
    </form>

</body>
</html>