<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de Seccion Reporte 3-1-1</title>
</head>
<body>
    
   <p> Inicio de Seccion requerido </p>
   <form method="post">
     {% csrf_token %}
      <label for="usuario">
        usuario
        <input type="text" name="username">
      </label>
      <label for="pass">
        contraseña
        <input type="password" name="password">
      </label>
      <button type="submit">Iniciar Sección</button>
    </form>

</body>
</html>