<!-- extiende del archivo base-->
{% extends 'base.html' %}


{% block titulo %} 

  SISTEMA 3-1-1
{% endblock %}

{% block contenido %}

¿Qué es el Sistema 3-1-1?

Es el principal medio de comunicación entre la ciudadanía y el Estado para registrar quejas, reclamaciones, 
sugerencias y denuncias a cualquier institución pública, para que las mismas puedan ser atendidas por las 
entidades correspondientes bajo un seguimiento especializado.

Surge como una necesidad en el marco de la estrategia de Gobierno electrónico en el país, con el objetivo de
mejorar los canales de interacción y contacto entre la ciudadanía y el Estado, con el propósito de mejorar la
calidad en la provisión de los servicios y fomentar una cultura de participación ciudadana y transparencia.

l Sistema 3-1-1 cuenta con dos modalidades de servicio:

Vía telefónica: marcando directamente al 3-1-1 a través de una línea fija o móvil, de manera gratuita, desde 
cualquier parte del país, puedes establecer comunicación con un representante preparado para capturar su 
queja  o reclamación.

Vía Internet: a través del portal www.311.gob.mx puedes completar personalmente tu queja, reclamación o 
sugerencia de manera fácil y rápida con sólo llenar los formularios correspondientes.
<div class="card-footer text-muted">
    <p>Derechos de autor © 2023. Mi sitio web311.</p>
    <p>Contáctanos en itchii.lab@chihuahua2.tecnm.mx</p>
</div>

{% endblock %}

